<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Colloquor - Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> includes/standardHeadIncludes}}
</head>
<body>
{{> includes/header}}
	
	<div class="container">
		<h1>Bootstrap starter template</h1>
		<div class="well">
		    <p>This is an empty view.</p>
		    <p>Nothing to see here, move along now....</p>
		</div>
	</div>
    <script src="/assets/js/jquery-1.9.1.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/colloquor.js"></script>
    <script>
        $("#homeNavLink").addClass("active");
    </script>
</body>
</html>