<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colloquor - Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> includes/standardHeadIncludes}}
</head>
<body>
{{> includes/header}}
<!-- Room Id: {{id}} -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <h3 id="roomNamePlaceholder" class="pull-left">{{name}}</h3>
        </div>
        <div class="span3">
            <button class="btn btn-block pull-right" type="button" data-toggle="modal" data-target="#changeRoomNameModal" style="margin-top:10px;margin-bottom:10px;">Change Room Name</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div class="well">One</div>
        </div>
        <div class="span3">
            <div class="well">
                <ul class="unstyled">
                    {{#occupants}}
                        <li>{{name}}</li>
                    {{/occupants}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
            <textarea class="span12" rows="1"></textarea>
        </div>
        <div class="span2">
            <button class="btn btn-block pull-right" type="button">Send</button>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/colloquor.js"></script>
<script>
    initColloquor();
</script>
</body>
</html>
