<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colloquor - Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> includes/standardHeadIncludes}}
</head>
<body>
{{> includes/header}}

<!-- Room Id: {{id}} -->
<div class="container">
    <div><h3 id="roomNamePlaceholder">{{name}}</h3><button style="float:right;" class="btn" type="button" data-toggle="modal" data-target="#changeRoomNameModal">Change Room Name</button></div>
</div>
<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/colloquor.js"></script>
<script>
    $(document).ready(function() {
    \\$("#testNavLink").addClass('active');
    });
</script>
</body>
</html>
