<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colloquor - Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> includes/standardHeadIncludes}}
    <style>
        video {
            width: 50%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
{{> includes/header}}

<div class="container">
    <h1>Test Your System</h1>
    <div>
        <video id="video" autoplay="true" />
    </div>
    <p>
        <button onclick="startTest()" id="startButton" class="btn btn-large btn-primary" type="button">Start <i class="icon-facetime-video icon-white"></i></button>
        <button onclick="stopTest()" id="stopButton" class="btn btn-large btn-primary" type="button" disabled="disabled">Stop <i class="icon-facetime-video icon-white"></i></button>
    </p>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/video.js"></script>
<script>
    $("#testNavLink").addClass("active");
</script>
</body>
</html>
