<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colloquor - Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

        video {
            width: 50%;
            border: 1px solid black;
        }
    </style>
    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Colloquor</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/test">Test</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <h1>Test Your System</h1>
    <div>
        <video id="video" autoplay="true" />
    </div>
    <p>
        <button onclick="startTest()" id="startButton" class="btn btn-large btn-primary" type="button">Start <i class="icon-facetime-video icon-white"></i></button>
        <button onclick="stopTest()" id="stopButton" class="btn btn-large btn-primary" type="button" disabled="disabled">Stop <i class="icon-facetime-video icon-white"></i></button>
    </p>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script>
    var lmsObject;

    hasGetUserMedia = function() {
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    onGotStream = function(stream) {
        var url = webkitURL.createObjectURL(stream);
        video.src = url;
        lmsObject = stream;
        $("#stopButton").prop("disabled", false);
        $("#startButton").prop("disabled", true);
    }

    onFailedStream = function(stream) {
    }

    startTest = function() {
        navigator.webkitGetUserMedia({video:true}, onGotStream, onFailedStream);
    }

    stopTest = function() {
        video.pause();
        lmsObject.stop();
        $("#stopButton").prop("disabled", true);
        $("#startButton").prop("disabled", false);
    }
</script>
</body>
</html>
